<a href="https://colab.research.google.com/github/Nidhi89717/ML/blob/main/15_Inputs_and_Outputs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Input and Output

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## Check out the references here! 

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

### CSV Input

In [ ]:
df = pd.read_csv('gdrive/My Drive/csv_files/example.csv')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
pd.read_csv('gdrive/My Drive/csv_files/example.csv',header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [ ]:
df =pd.read_csv('gdrive/My Drive/csv_files/example.csv',index_col=0)

In [ ]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

### CSV Output

Set index=False if we do not want to save the index , otherwise it will add a new column to the .csv file that includes index and call it "Unnamed: 0" if index did not have a name. If do want to save your index, simply set it to True (the default value).

In [ ]:
df.to_csv('gdrive/My Drive/csv_files/newfile.csv',index = False)

In [ ]:
new = pd.read_csv('gdrive/My Drive/csv_files/newfile.csv')

In [ ]:
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15

## read_html

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects. NOTE: This only works with well defined <table> objects in the html on the page, this can not read in tables that are images on a page.

In [ ]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [ ]:
len(tables)

25

In [ ]:
world_topten = tables[0]

In [ ]:
world_topten

,#,Most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [ ]:
world_topten = world_topten.drop(11, axis=0)

In [ ]:
world_topten

      # Most populous countries  2000  2015 2030[A]
0     1                China[B]  1270  1376    1416
1     2                   India  1053  1311    1528
2     3           United States   283   322     356
3     4               Indonesia   212   258     295
4     5                Pakistan   136   208     245
5     6                  Brazil   176   206     228
6     7                 Nigeria   123   182     263
7     8              Bangladesh   131   161     186
8     9                  Russia   146   146     149
9    10                  Mexico   103   127     148
10  NaN             World total  6127  7349    8501

In [ ]:
world_topten = world_topten.drop('#',axis=1)

In [ ]:
world_topten

   Most populous countries  2000  2015 2030[A]
0                 China[B]  1270  1376    1416
1                    India  1053  1311    1528
2            United States   283   322     356
3                Indonesia   212   258     295
4                 Pakistan   136   208     245
5                   Brazil   176   206     228
6                  Nigeria   123   182     263
7               Bangladesh   131   161     186
8                   Russia   146   146     149
9                   Mexico   103   127     148
10             World total  6127  7349    8501

In [ ]:
world_topten.columns = ['Country', '2000', '2015', '2030.est']

In [ ]:
world_topten

          Country  2000  2015 2030.est
0        China[B]  1270  1376     1416
1           India  1053  1311     1528
2   United States   283   322      356
3       Indonesia   212   258      295
4        Pakistan   136   208      245
5          Brazil   176   206      228
6         Nigeria   123   182      263
7      Bangladesh   131   161      186
8          Russia   146   146      149
9          Mexico   103   127      148
10    World total  6127  7349     8501

In [ ]:
tables[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   173220000     143998              1203
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9560000      22072               433

## Write to html Output

If you are working on a website and want to quickly output the .html file, you can use to_html

In [ ]:
world_topten.to_html('gdrive/My Drive/csv_files/sample_table.html',index = False)

# Excel Files

Pandas can read in basic excel files (it will get errors if there are macros or extensive formulas relying on outside excel files), in general, pandas can only grab the raw information from an .excel file.

## Excel file input with read_excel()

In [5]:
df = pd.read_excel('gdrive/My Drive/csv_files/my_excel_file.xlsx', sheet_name='First_Sheet')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
wb = pd.ExcelFile('gdrive/My Drive/csv_files/my_excel_file.xlsx')

In [9]:
wb.sheet_names

['First_Sheet']

#### Grab all sheets

In [22]:
excel_sheet_dict = pd.read_excel('gdrive/My Drive/csv_files/my_excel_file.xlsx', sheet_name = None)

In [12]:
type(excel_sheet_dict)

dict

In [14]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [23]:
our_df = excel_sheet_dict['First_Sheet']

In [24]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Write to Excel File

In [25]:
our_df.to_excel('gdrive/My Drive/csv_files/example.xlsx',sheet_name='First_Sheet', index=False)